@import url('https://fonts.maateen.me/adorsho-lipi/font.css');
@import url('https://fonts.maateen.me/charu-chandan-3d/font.css');

body{

    overflow-x: hidden;
    font-family:  Arial, sans-serif !important;
}
/*section two */
.bg-blue{
    background-color: #05225e;
}
.bg-footer{
    background-color: #093184;
}
.text-color{
    color: #074072;
}
.bg-color{
     background: linear-gradient(to top,white, #064dd7);
 }
.bg-color1{
    background: linear-gradient(to top, #1064af, #0e7ec7, #1247b1);
}

/*navber*/
.navbar li a:hover{
    padding: 5px 5px;
    background-color: #92b1d0;
     border-radius: 10px;
    transition: 1s;
}
/*footer css*/
.social-media {
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: #110101;
}

/*media Qurey*/

/*mobile are jonno*/
@media screen and (min-width: 0px) and (max-width: 576px) {
/*logo*/
    .logo{
        width: 50%;
    }
/*menuicon*/
    .navbar-toggler {
        font-size: 20px;

    }
    .navbar-toggler:focus {
        box-shadow: none;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

    }
    .icon {
        width: 20%;
    }
    button{
        font-size:13px;
    }

/*    footer css*/

    .footerlogo{
        width: 50%;
    }



}
/*tab device*/
@media screen and (min-width:577px) and (max-width:768px){
    /*logo*/
    .logo{
        width:100%;
    }
    /*menuicon*/
    .navbar-toggler {
        font-size: 20px;

    }
    .navbar-toggler:focus {
        box-shadow: none;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

    }
    .icon {
        width: 20%;
    }
    button{
        font-size:13px;
    }

    .nav-link{
    font-size:12px;
}
    /*    footer css*/

    .footerlogo{
        width: 30%;
    }


}
/*md device are jonno*/
@media screen and (min-width:769px) and (max-width:992px) {
    /*logo*/
    .logo{
        width: 100%;
    }

}
/*lg device are jonno*/
@media screen and (min-width:993px) and (max-width:1200px) {
    /*logo*/
    .logo{
        width: 70%;
    }
}
/*    footer css*/

.footerlogo{
    width:50%;
}


/*xl are jonno*/

@media screen and (min-width:1201px) and (max-width:1400px) {
    .logo{
        width:50%;
    }
    .footerlogo{
        width: 60%;
    }

}



/*xxl are jonno */
@media screen and (min-width: 1401px) {
    .logo{
        width:50%;
    }
    .nav-link{
        font-size:20px;
    }
}